# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore database migrations files
migrations/README
migrations/script.py.mako

# Ignore editor and OS-specific files
.vscode/
.idea/
.DS_Store
